<%- include ('partials/_header') %>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
                <a href="/products">
                    <div class="card">
                        <p class="text-center mt-4">
                            <em class="fas fa-box-open fa-7x"></em>
                        </p>
                        <div class="card-text">
                            <h3 class="text-center mt-2 text-light strokeme">Productos</h3>
                            <h5 class="text-center mt-3 text-light strokeme">Gestiona Tus Productos</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/categories">
                    <div class="card">
                        <p class="text-center mt-4">
                            <em class="fas fa-list-ul fa-7x"></em>
                        </p>
                        <div class="card-text">
                            <h3 class="text-center mt-2 text-light strokeme">Categorías</h3>
                            <h5 class="text-center mt-3 text-light strokeme">Gestiona Tus Categorías</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/customers">
                    <div class="card">
                        <p class="text-center mt-4">
                            <em class="fas fa-user-tie fa-7x"></em>
                        </p>
                        <div class="card-text">
                            <h3 class="text-center mt-2 text-light strokeme">Clientes</h3>
                            <h5 class="text-center mt-3 text-light strokeme">Gestiona Tus Clientes</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/providers">
                    <div class="card">
                        <p class="text-center mt-4">
                            <em class="fas fa-handshake fa-7x"></em>
                        </p>
                        <div class="card-text">
                            <h3 class="text-center mt-2 text-light strokeme">Proveedores</h3>
                            <h5 class="text-center mt-3 text-light strokeme">Gestiona Tus Proveedores</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/users">
                    <div class="card">
                        <p class="text-center mt-4">
                            <em class="fas fa-users fa-7x"></em>
                        </p>
                        <div class="card-text">
                            <h3 class="text-center mt-2 text-light strokeme">Usuarios</h3>
                            <h5 class="text-center mt-3 text-light strokeme">Gestiona Tus Usuarios</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <%- include ('partials/_footer') %>